<div class="container mt-2 w-50">
    <img src="/img/busyqa.png" alt="busyQA logo">
    <div class="alert alert-dismissible fade show mt-2" role="alert"
     [ngClass]="calculated ? 'alert-success' : 'alert-danger'" *ngIf="show">
        <span>{{mssge}}</span>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" (click)="show=false"></button>
    </div>
    <div class="jumbotron bg-white border border-primary mt-2 py-2">
      <h1 class="mx-3 display-6">My Quadratic Calculator!</h1>
      <div class="text-center">
        <img class="text-center" src="/img/quadratic.jpg" alt="Quadratic Equation"/>
      </div>
      <hr class="my-1">
      <p class="mx-2">Please input the formula's variables A, B and C.</p>
      <div>
        <div class="form-group row">
          <label class="mx-2 col-3 col-form-label text-right">Variable A:</label>
          <div class="col-5">
            <input type="number" class="form-control" step="any" [(ngModel)]="param_a" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="mx-2 col-3 col-form-label text-right">Variable B:</label>
          <div class="col-5">
            <input type="number" class="form-control" step="any" [(ngModel)]="param_b" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="mx-2 col-3 col-form-label text-right">Variable C:</label>
          <div class="col-5">
            <input type="number" class="form-control" step="any" [(ngModel)]="param_c" required>
          </div>
        </div>
        <div class="form-group row">
          <label class="mx-2 col-3 col-form-label text-right">First Root:</label>
          <div class="col-5">
            <input type="text" class="form-control bg-warning text-dark" [(ngModel)]="root1" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label class="mx-2 col-3 col-form-label text-right">Second Root:</label>
          <div class="col-5">
            <input type="text" class="form-control bg-warning text-dark" [(ngModel)]="root2" readonly>
          </div>
        </div>
        <div class="text-center mt-2">
          <button type="button" class="btn btn-primary btn-lg" (click)="onCalculate()">Calculate</button>
        </div>
    </div>
    </div>
  </div>